*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  margin: 12px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  text-align: center;
  justify-content: center;

}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 30px;
  text-align: center;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  justify-content: center;
  color: blue;
}

p{
  justify-content: center;
  align-items: center;
}